# Task 1: Pandas Fundamentals & Exploration

## Part A: Data Loading

In [1]:
import pandas as pd
import numpy as np

customers_df = pd.read_csv('customers.csv')
products_df = pd.read_csv('products.csv')  
transactions_df = pd.read_csv('transactions.csv')

## Part B: Data Exploration

### 1. Basic Information

In [2]:
# first 5 rows of each dataframe

print(customers_df.head())
print("__"  *40)
print(products_df.head())
print("__"  *40)
print(transactions_df.head())
print("==" *40)

# last 5 rows of each dataframe

print(customers_df.tail())
print("__"  *40)
print(products_df.tail())
print("__"  *40)
print(transactions_df.tail())
print("==" *40)

# shape of each dataframe
print("Customers shape:", customers_df.shape)
print("Products shape:", products_df.shape)
print("Transactions shape:", transactions_df.shape)
print("==" *40)


# column names, data types and memory usage of each dataframe
print("Customers info:")
print(customers_df.info())
print("__"  *40)
print("Products info:")
print(products_df.info())
print("__"  *40)
print("Transactions info:")
print(transactions_df   .info())
print("==" *40)

  customer_id            name                     email registration_date  \
0        C001     Logan Brown                       NaN        2024-01-01
1        C002  John Rodriguez   emma.johnson1@email.com        2024-01-02
2        C003       Ava Davis                       NaN        2024-01-04
3        C004   William Brown                       NaN        2024-01-06
4        C005   Abigail Moore  william.jones4@email.com        2024-01-08

     country age
0     Canada  39
1     France  28
2  Australia  65
3      Italy  33
4     Canada  50
________________________________________________________________________________
  product_id   product_name     category   price  stock
0       P001        Speaker  Electronics  353.96     15
1       P002   Science Book        Books   34.88  11246
2       P003        Sweater     Clothing   23.53     97
3       P004     Smartphone  Electronics   56.05     86
4       P005  Running Shoes       sports -339.29     50
________________________________________________________________________________
  transaction_id customer_id product_id  quantity transaction_date  \
0           T001        C178       P002       1.0       2024-01-01
1           T002        C163       P015       5.0       2024-01-01
2           T003        C124       P011       1.0       2024-01-02
3           T004        C033       P008       2.0       2024-01-03
4           T005        C161       P026       1.0       2024-01-03

  payment_method
0    Credit Card
1         PayPal
2    Credit Card
3  Bank Transfer
4    Credit Card
================================================================================
    customer_id            name                           email  \
200        C008   John Williams            ava.davis7@email.com
201        C115      Liam Smith        mason.white114@email.com
202        C048  Noah Rodriguez       emily.johnson47@email.com
203        C034   Abigail Davis  isabella.hernandez33@email.com
204        C114    Ava Williams    harper.thompson113@email.com

    registration_date  country       age
200        2024-01-13   Canada        33
201        2024-07-28       US        25
202        2024-03-27   France        29
203        2024-03-01  Germany  48 years
204        2024-07-26  Germany        71
________________________________________________________________________________
   product_id       product_name     category   price  stock
45       P046             Mirror         home  274.29      3
46       P047      Fiction Novel        Books  311.77     79
47       P048           Camera    electronics  324.79     91
48       P049              Scarf     Clothing  297.03     90
49       P050    Fiction Novel          books  402.47   5987
________________________________________________________________________________
    transaction_id customer_id product_id  quantity transaction_date  \
503           T403        C998       P041       3.0       2024-10-21
504           T060        C023       P009       4.0       2024-02-13
505           T304        C112       P007       1.0       2024-08-09
506           T021        C095       P014       3.0       2024-01-15
507           T217        C178       P010       NaN       2024-06-06

    payment_method
503  Bank Transfer
504         PayPal
505  Bank Transfer
506    Credit Card
507  Bank Transfer
================================================================================
Customers shape: (205, 6)
Products shape: (50, 5)
Transactions shape: (508, 6)
================================================================================
Customers info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        205 non-null    object
 1   name               205 non-null    object
 2   email              185 non-null    object
 3   registration_date  205 non-null    object
 4   country            205 non-null    object
 5   age                205 non-null    object
dtypes: object(6)
memory usage: 9.7+ KB
None
________________________________________________________________________________
Products info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_id    50 non-null     object
 1   product_name  50 non-null     object
 2   category      50 non-null     object
 3   price         47 non-null     float64
 4   stock         50 non-null     int64
dtypes: float64(1), int64(1), object(3)
memory usage: 2.1+ KB
None
________________________________________________________________________________
Transactions info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 508 entries, 0 to 507
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   transaction_id    508 non-null    object
 1   customer_id       508 non-null    object
 2   product_id        508 non-null    object
 3   quantity          492 non-null    float64
 4   transaction_date  508 non-null    object
 5   payment_method    508 non-null    object
dtypes: float64(1), object(5)
memory usage: 23.9+ KB
None
================================================================================

### 2. Statistical Summary

In [3]:
# describing numerical columns in each dataframe


# customers dataframe has no numerical columns to describe
# we could have used describe(include='number') to get only numerical columns
print("Products statistical summary:")
print(products_df[['price','stock']].describe())
print("__"  *40)
print("Transactions statistical summary:")
print(transactions_df['quantity'].describe())
print("==" *40)

# describing categorical columns in each dataframe
print("Customers categorical summary:")
print(customers_df.describe(include='object'))
print("__"  *40)
print("Products categorical summary:")
print(products_df.describe(include='object'))
print("__"  *40)
print("Transactions categorical summary:")
print(transactions_df.describe(include='object'))
print("=="*40)

# identifying unique value counts for categorical columns in each dataframe
print("Customers unique value counts:")
print(customers_df.select_dtypes(include='object').nunique())
print("__"  *40)
print("Products unique value counts:")
print(products_df.select_dtypes(include='object').nunique())
print("__"  *40)
print("Transactions unique value counts:")
print(transactions_df.select_dtypes(include='object').nunique())
print("==" *40)

Products statistical summary:
            price         stock
count   47.000000     50.000000
mean   165.770638    615.700000
std    200.448722   2328.207581
min   -488.170000      0.000000
25%     41.880000     21.000000
50%    179.690000     61.000000
75%    298.270000     89.750000
max    491.100000  11246.000000
________________________________________________________________________________
Transactions statistical summary:
count    492.000000
mean       3.002033
std        1.410607
min        1.000000
25%        2.000000
50%        3.000000
75%        4.000000
max        5.000000
Name: quantity, dtype: float64
================================================================================
Customers categorical summary:
       customer_id            name                      email  \
count          205             205                        185
unique         200             160                        180
top           C115  Noah Rodriguez  emily.johnson47@email.com
freq             2               5                          2

       registration_date country  age
count                205     205  205
unique               200      12   70
top           2024-07-28  Canada   50
freq                   2      27   10
________________________________________________________________________________
Products categorical summary:
       product_id product_name category
count          50           50       50
unique         50           38        9
top          P001     Cookbook    Books
freq            1            3       13
________________________________________________________________________________
Transactions categorical summary:
       transaction_id customer_id product_id transaction_date payment_method
count             508         508        508              508            508
unique            500         194         50              369              6
top              T037        C145       P040       2024-02-13         PayPal
freq                2           7         19                3            173
================================================================================
Customers unique value counts:
customer_id          200
name                 160
email                180
registration_date    200
country               12
age                   70
dtype: int64
________________________________________________________________________________
Products unique value counts:
product_id      50
product_name    38
category         9
dtype: int64
________________________________________________________________________________
Transactions unique value counts:
transaction_id      500
customer_id         194
product_id           50
transaction_date    369
payment_method        6
dtype: int64
================================================================================

### 3. Data Quality Check

In [4]:
# checking for missing values in each dataframe

print("Customers missing values:")
print(customers_df.isnull().sum())
print("__"  *40)
print("Products missing values:")
print(products_df.isnull().sum())
print("__" * 40)
print("Transactions missing values:")
print(transactions_df.isnull().sum())
print("==" *40)

# checking for duplicate rows in each dataframe

print("Customers duplicate rows:", customers_df.duplicated().sum())
print("Products duplicate rows:", products_df.duplicated().sum())
print("Transactions duplicate rows:", transactions_df.duplicated().sum())
print("==" *40)

# identifying unusual values or patterns

# checking that age is between 0 and 100 in customers dataframe and registration_date is not in the future
# as ages column is of object type, we need to check if every entry is numeric and between 0 and 100
invalid_ages = customers_df[(customers_df['age'] < '0') | (customers_df['age'] > '100')]
print("Invalid ages in customers dataframe:")
print(invalid_ages)

Customers missing values:
customer_id           0
name                  0
email                20
registration_date     0
country               0
age                   0
dtype: int64
________________________________________________________________________________
Products missing values:
product_id      0
product_name    0
category        0
price           3
stock           0
dtype: int64
________________________________________________________________________________
Transactions missing values:
transaction_id       0
customer_id          0
product_id           0
quantity            16
transaction_date     0
payment_method       0
dtype: int64
================================================================================
Customers duplicate rows: 4
Products duplicate rows: 0
Transactions duplicate rows: 6
================================================================================
Invalid ages in customers dataframe:
    customer_id            name                           email  \
0          C001     Logan Brown                             NaN
1          C002  John Rodriguez         emma.johnson1@email.com
2          C003       Ava Davis                             NaN
3          C004   William Brown                             NaN
4          C005   Abigail Moore        william.jones4@email.com
..          ...             ...                             ...
200        C008   John Williams            ava.davis7@email.com
201        C115      Liam Smith        mason.white114@email.com
202        C048  Noah Rodriguez       emily.johnson47@email.com
203        C034   Abigail Davis  isabella.hernandez33@email.com
204        C114    Ava Williams    harper.thompson113@email.com

    registration_date    country       age
0          2024-01-01     Canada        39
1          2024-01-02     France        28
2          2024-01-04  Australia        65
3          2024-01-06      Italy        33
4          2024-01-08     Canada        50
..                ...        ...       ...
200        2024-01-13     Canada        33
201        2024-07-28         US        25
202        2024-03-27     France        29
203        2024-03-01    Germany  48 years
204        2024-07-26    Germany        71

[205 rows x 6 columns]